<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>TSA</h2>
        </header>
        <p><strong>TSA 공식 홈페이지</strong>에
        <br />
        오신 것을 환영합니다^^
        <br />
        by <a href="https://cafe.naver.com/toziteching">땅테크연구소</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://cafe.naver.com/toziteching" class="button fit scrolly">카페 바로가기</a></li>
            </ul>
        </footer>

    </div>

</section>
